@font-face {
	font-family: 'GreatVibes';
	src: url('../../public/GreatVibes-Regular.ttf') format('ttf');
}

@font-face {
	font-family: 'Montserrat';
	src: url('../../public/Montserrat-VariableFont_wght.ttf') format('ttf');
}

h2 {
  font-family: GreatVibes;
  font-style: italic;
  font-size: large;
}

h1,p,a {
  font-style: italic;
  text-decoration: none;
}

@media screen and (min-width:640px) {
  .contentContainer {
    margin: 0 10% 0 10%;
    justify-content: center;
  }

  nav {
    padding: 0 10% 0 10%;
  }
}
@media screen and (max-width:640px) {
  .contentContainer {
    margin: 0 20px 0 20px;
  }
  
  nav {
    padding: 0 20px 0 20px;
  }
  
  }

img {
  max-width: 1120px;
  max-height: 1200px;
}

.content {
  min-height: calc(100vh - 80px - 56px);
}

.menuButton:hover{ 
  -webkit-transform: scale(1.3);
 }

 .locationCardBtn:hover{ 
  transition-duration: 200ms;
  -webkit-transform: scale(1.1);
 }
 

 



.carousel {
  max-height: 400px;
}
.slider {
  max-height: 400px;
}

.locationCard {
  width: 420px;
  height: 500px;  
}

.font-Montserrat {
  font-family: Montserrat;
}

.NavMenutxtStyle {
  font-family: Montserrat;
  font-size: 24px;
  color: black;
}
